<ng-container [formGroup]="form" *ngIf="questionConfig">

  <div [formGroupName]="questionConfig.formControlName">

    <div *ngIf="questionConfig.type ==='radio'" >
      <label id="label">{{questionConfig.label}}</label>
      <br>
      <mat-radio-group color="primary" class="radio-section">
        <mat-radio-button  class="radio-section-item" *ngFor="let option of questionConfig.options" [value]="option"
          (change)="onUpdateValue(questionConfig.formControlName, option)">
          {{option}}
        </mat-radio-button>
        <mat-error *ngIf="formControl.hasError('required') && form.touched">
          Field is <strong>required</strong>
        </mat-error>
      </mat-radio-group>
    </div>

    <div *ngIf="questionConfig.type ==='select' ">
      <mat-form-field appearance="fill" class="select-section">
        <mat-label>{{questionConfig.label}}</mat-label>
        <mat-select (change)="onUpdateValue(questionConfig.formControlName, formControl.value)">
          <mat-option *ngFor="let option of questionConfig.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.hasError('required')  && form.touched">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="questionConfig.type ==='checkbox' " class="checkbox-section">
      <section>
        <mat-checkbox color="primary" #c value="false" (click)="onUpdateValue(questionConfig.formControlName, !c.checked )">{{questionConfig.label}}
        </mat-checkbox>
      </section>
      <mat-error *ngIf="formControl.hasError('required')  && form.touched">
        Field is <strong>required</strong>
      </mat-error>
    </div>

    <div *ngIf="questionConfig.type ==='input'">
      <mat-form-field class="input-section" appearance="fill">
        <mat-label>{{questionConfig.label}}</mat-label>
        <input #i type="text" matInput (input)="onUpdateValue(questionConfig.formControlName, i.value)">
        <mat-error *ngIf="formControl.hasError('required')  && form.touched">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>


</ng-container>
