<div class="template-shell" *ngIf="activeTemplate$ | async as activeTemplate">
  <mat-card class="template-card">
    <mat-card-header class="template-header">

        <div class="select-row">
          <mat-card-title>
            Select a Template
          </mat-card-title>



          <span class="spacer"> </span>
          <span>
            <mat-form-field class="template-select">
              <mat-label>Template</mat-label>
              <mat-select (selectionChange)="onFormSelect($event)">
                <mat-option *ngFor="let template of templates" [value]="template">
                  {{template.templateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </div>



    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="template-content" align="start">
    
      <app-template-form ></app-template-form>

    </mat-card-content>


    <mat-card-actions class="template-actions" align="start">
      <button mat-raised-button color="primary" (click)="onCopyForm(activeTemplate)">Copy</button>


    </mat-card-actions>
  </mat-card>
</div>
