
<mat-card class="card">


  <mat-card-content>
    <form #f='ngForm' (ngSubmit)="onSubmit(f)" class="card">
      <mat-list>
        <div class="list-item">
          <mat-list-item>
            <mat-form-field class="list-input">
              <mat-label>Name </mat-label>
              <input matInput name="name" value="Name" ngModel>
            </mat-form-field>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <mat-form-field class="list-input" >
              <mat-label>Customer Described FOL:</mat-label>
              <input matInput name="fol" value="Name" ngModel>
            </mat-form-field>

          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <label id="spokeToLabel" class="list-label">Purpose of Trip:</label>
            <mat-radio-group
              name='purposeOfTrip'
              ngModel
            >
              <mat-radio-button
              class='list-val'
               color='primary'
               *ngFor="let purpose of purposes" [value]="purpose">
                {{purpose}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <mat-form-field class="list-input" >
              <mat-label>Passengers:</mat-label>
              <input matInput name="passengers" value="Name" ngModel>
            </mat-form-field>

          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='injuries' ngModel>Injuries</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='compNeg' ngModel>Comparative/Contributory Negligence Considered</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='liability' ngModel>Liability Explained</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' name='sub' ngModel>Sub Identified/OIC Updated</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='coverages' ngModel>Coverages Explained</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' name='adsp' ngModel>ADSP Explained</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='adsp' ngModel>Explained ADSP/RWT</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item >
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='storage' ngModel>Storage Accruing (If yes, indicate if 3-way call completed)</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf='f.value.storage === true'>
          <div class='list-item' >
            <section class="example-section"  >
              <mat-checkbox color='primary' name='storageCall' ngModel>3-way call completed</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='clmntInspection' ngModel>Explained Claimant Inspection Options</mat-checkbox>
            </section>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='eft' ngModel>Offered EFT</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='rental' ngModel>Rental Explained</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='jr' ngModel>Jurisdictional Requirements</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' name='ocs' ngModel>Explained Online Claim Services/Self Services</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>


      </mat-list>

          <mat-form-field class="extra-notes" >
            <mat-label>Additional Notes</mat-label>
            <textarea matInput name='additionalNotes' ngModelcdkTextareaAutosize  cdkAutosizeMinRows="15"  cdkAutosizeMaxRows='100'></textarea>
          </mat-form-field>


    </form>





  </mat-card-content>
  <mat-card-actions>
    <button mat-button type='submit' (click)="onSubmit(f)">Copy</button>
    <button mat-button  (click)="onReset(f)">Reset</button>
  </mat-card-actions>
</mat-card>


