<div class="task-notes-page">
  <mat-toolbar-row >
    <div *ngIf="totalTasks$ | async as totalTasks" class="task-counter">
      <p class="toolbar-item">Total Tasks: {{totalTasks}}</p>

      <button class="toolbar-item" mat-raised-button (click)="onCopyTotal(totalTasks)">Copy</button>
      <button class="toolbar-item" mat-raised-button (click)="onResetTotal()">Reset</button>
    </div>


  </mat-toolbar-row>
  <div class="card-container">
    <div *ngFor="let note of taskNotes; let i = index;" class="card-border">
      <app-task-note-card [note]="note" (taskCount)="taskCount($event)"></app-task-note-card>

    </div>

  </div>

</div>
 