<mat-drawer-container class="sidenav-container">
  <mat-drawer class="sidenav-drawer" mode="side" [opened]='sidenavOpen'>
    <mat-toolbar color="primary"></mat-toolbar>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenavOpen = !sidenavOpen">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
