<mat-drawer-container class="sidenav-container">
  <mat-drawer class="sidenav-drawer" mode="side" [opened]='sidenavOpen'>
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="{{link}}"  *ngFor="let link of routes" #r > {{ link }} </a>
   </mat-nav-list>


  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenavOpen = !sidenavOpen">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{activeRoute}}</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div>

      <router-outlet></router-outlet>

    </div>





  </mat-drawer-content>
</mat-drawer-container>
