.shell-container {

  width: 100%;
  height: 100%;
  margin: 0;

  .toolbar {
    width: 100%;
  }

  .page-content {
    // margin-top: 56px;
    height: 100%;
    width: 100%;

    .drawer-container {
      width: 100%;
      height: 100%;
      margin: 0;

      .sidenav-drawer {
        margin-top:56px ;
        width: 30%;
        height: 100%;
      }

      .router-outlet {
        margin-top: 24px;
        height: auto;
        width: 100%;
        .spacer {
          flex: 1 1 auto;
        }
      }
    }
  }
}
