
<mat-card class="card">


  <mat-card-content>
    <form [formGroup]='parForm' (ngSubmit)="onSubmit()" class="card">
      <mat-list>
        <mat-list-item>
            <div  class='list-item' >
              <label id="spokeToLabel" class="list-label" > Spoke to:</label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                formControlName="spokeTo"
              >
              <span class="spacer">

              </span>
              <div   >
                <mat-radio-button
                *ngFor="let person of persons; let i = index"
                class='list-val'
                color='primary'
                [value]="person.id"
                >
                  {{person.name}}
                </mat-radio-button>
              </div>

              </mat-radio-group>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <label id="spokeToLabel" class="list-label">Purpose of Trip:</label>
            <mat-radio-group
            formControlName='purposeOfTrip'

            >
              <mat-radio-button
              class='list-val'
               color='primary'
               *ngFor="let purpose of purposes; let i =index" [value]="purpose.id">
                {{purpose.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section">
              <mat-checkbox color='primary' formControlName='coveragesExplained' >Coverages Explained</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section">
              <mat-checkbox color='primary' formControlName='cprs'>Cprs</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="this.parForm.value.cprs === true">
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='cprsReplacement'>Replacement needed</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='tow' >Tow</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="this.parForm.value.tow === true">
          <div class='list-item' >
            <mat-form-field  >
              <mat-label>Tow ID</mat-label>
              <input formControlName='towId' matInput  >
            </mat-form-field>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='mitigation' >Explained Mitigation</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' formControlName='ocs' >Explained OCS/CSS</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='terms' >Explained Terms&Conditions</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' formControlName='odm'>Explained ODM</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='adsp' >Explained ADSP/RWT</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <label id="spokeToLabel" class="list-label"> Direction to Pay</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName='dtp'

        >
          <mat-radio-button
          class='list-val'
           color='primary'
           *ngFor="let payee of payees; let i =index;" [value]="payee.id">
            {{payee.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  >
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='supp' >Explained Supp/Payments</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='cic' >Explained CIC/JR</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='pr' >PR Requested</mat-checkbox>
            </section>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='injuries' >Injuries</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='sub' >Sub Potential</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>

          <mat-form-field class="extra-notes" >
            <mat-label>Additional Notes</mat-label>
            <textarea matInput formControlName='additionalNotes' ngModelcdkTextareaAutosize  cdkAutosizeMinRows="15"  cdkAutosizeMaxRows='100'></textarea>
          </mat-form-field>


    </form>





  </mat-card-content>
  <mat-card-actions>
    <button mat-button type='submit' (click)="onSubmit()">Copy</button>
    <button mat-button  (click)="onReset()">Reset</button>
  </mat-card-actions>
</mat-card>





