
<mat-card class="card">


  <mat-card-content>
    <form [formGroup]='parForm' (ngSubmit)="onSubmit()" class="card">
      <mat-list>
        <mat-list-item>
            <div class='list-item'>
              <label id="spokeToLabel" class="list-label" > Spoke to:</label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                formControlName='name'
                ngModel
              >
              <span class="spacer">

              </span>
                <mat-radio-button
                class='list-val'
                 color='primary'
                 *ngFor="let person of persons" [value]="person">
                  {{person}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <label id="spokeToLabel" class="list-label">Purpose of Trip:</label>
            <mat-radio-group
            formControlName='purposeOfTrip'
              ngModel
            >
              <mat-radio-button
              class='list-val'
               color='primary'
               *ngFor="let purpose of purposes" [value]="purpose">
                {{purpose}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section">
              <mat-checkbox color='primary' formControlName='coveragesExplained' ngModel>Coverages Explained</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section">
              <mat-checkbox color='primary' formControlName='cprs' ngModel>Cprs</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="this.parForm.value.cprs === true">
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='cprsReplacement' ngModel>Replacement needed</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='tow' ngModel>Tow</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="this.parForm.value.tow === true">
          <div class='list-item' >
            <mat-form-field  >
              <mat-label>Tow ID</mat-label>
              <input formControlName='towId' ngModel matInput  >
            </mat-form-field>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='mitigation' ngModel>Explained Mitigation</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' formControlName='ocs' ngModel>Explained OCS/CSS</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='terms' ngModel>Explained Terms&Conditions</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <section class="example-section"  >
          <mat-checkbox color='primary' formControlName='odm' ngModel>Explained ODM</mat-checkbox>
        </section>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='adsp' ngModel>Explained ADSP/RWT</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>

      <div class='list-item'>
        <label id="spokeToLabel" class="list-label"> Direction to Pay</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName='dtp'
          ngModel
        >
          <mat-radio-button
          class='list-val'
           color='primary'
           *ngFor="let payee of payees" [value]="payee">
            {{payee}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item  *ngIf="this.parForm.value.dtp !== 'SS' && this.parForm.value.dtp !== ''">
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='supp' ngModel>Explained Supp/Payments</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='cic' ngModel>Explained CIC/JR</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='pr' ngModel>PR Requested</mat-checkbox>
            </section>
          </div>

        </mat-list-item>
        <!-- <mat-divider></mat-divider> -->
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='injuries' ngModel>Injuries</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class='list-item'>
            <section class="example-section"  >
              <mat-checkbox color='primary' formControlName='sub' ngModel>Sub Potential</mat-checkbox>
            </section>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>

          <mat-form-field class="extra-notes" >
            <mat-label>Additional Notes</mat-label>
            <textarea matInput formControlName='additionalNotes' ngModelcdkTextareaAutosize  cdkAutosizeMinRows="15"  cdkAutosizeMaxRows='100'></textarea>
          </mat-form-field>


    </form>





  </mat-card-content>
  <mat-card-actions>
    <button mat-button type='submit' (click)="onSubmit()">Copy</button>
    <button mat-button  (click)="onReset()">Reset</button>
  </mat-card-actions>
</mat-card>





